# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MS Studio db files
/**/build-msvc/*.opendb
/**/build-msvc/*.db

# Build directories
/**/build-msvc/Release/
/**/build-msvc/Debug/

# Generated CSV files
/**/analysis/*.csv

